
body {
    background-color:#3c3836;
}

.content {
    background-color: #7c6f64;
    color: #ebdbb2;
}

.heading {
    color: #fabd2f;
}

.navbar-dark .navbar-brand {
    color: #fabd2f;
}

.navbar-dark .navbar-brand:hover {
    color: #fe9019;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fe9019;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fabd2f;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #fe9019;
}